@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-border: #6e6e6e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secendory: #6e6e6e;
  --color-accent: #FF5F1F;
  --color-border: #e7e7e7e7;
  --breakpoint-ipad: 860px;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
